.contact-list{
  display:none;
}

#contactDetails {
  display: none;
}

#contact-name {
  color: blue;
  text-decoration: underline;
}

hr{
  background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 2px;
}

.required {
  color: red;
}

#phoneEmail{
  display:none;
}

form#extraInfo {
  display: none;
}
